SERPAPI_KEY=your_serpapi_key_here
DISCORD_WEBHOOK_URL=your_discord_webhook_url_here
POLL_INTERVAL_MINUTES=30
DASHBOARD_PORT=3001
PRICE_DROP_ALERT_PCT=5
PRICE_SPIKE_ALERT_PCT=10
ALERT_COOLDOWN_HOURS=2
